*
{
    margin: 0;
    padding: 0;
}
p
{
    font-family: helvetica;
    font-size: 2em;
    font-weight: bold;
}
section
{
    display: flex;
    flex-direction: row;
}
h2
{
    margin-top: 25px;
    text-align: center;
}

/* Postit fixe */
.post-html
{
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
}
.postit
{
    margin-top: 20px;
    width: 200px;
    height: 100px;
}
.postit-1
{
    background-color: #f8de59;
}
.postit-2
{
    background-color: #E0B746;
}
.postit-3
{
    background-color: #FCBC4E;
}

/* Postit Dynamique */
.post-js
{
    width: 100%;    
    display: flex;
    flex-direction: column;
}

/* Postit 1 */
.post-1 {
    background-color: #f8de59;
    width: 16em;
    min-height: 14em;
    position: relative;
    filter: drop-shadow(0.1px 01px 5px rgba(0,0,0,0.3));
    transform: rotate(7deg) translateX(-50%);
    top: 50px;
    left: 50%;
}
.post-1::before
{
    content: '';
    position: absolute;
    right: 2em;
    bottom: -2em;
    left: 0;
    border: 1em solid #f8de59;
    z-index: -1;
}
.post-1::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -2em;
    border-width: 2em 2em 0 0;
    border-style: solid;
    border-color: #f8de59 transparent;
    filter: drop-shadow(-4px 5px 9px rgba(0,0,0,0.3));
}

/* Postit 2 */
.post-2 {
    background-color: #E0B746;
    width: 16em;
    min-height: 14em;
    position: relative;
    filter: drop-shadow(0.1px 01px 5px rgba(0,0,0,0.3));
    transform: rotate(7deg) translateX(-50%);
    top: 50px;
    left: 50%;
}
.post-2::before
{
    content: '';
    position: absolute;
    right: 2em;
    bottom: -2em;
    left: 0;
    border: 1em solid #E0B746;
    z-index: -1;
}
.post-2::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -2em;
    border-width: 2em 2em 0 0;
    border-style: solid;
    border-color: #E0B746 transparent;
    filter: drop-shadow(-4px 5px 9px rgba(0,0,0,0.3));
}

/* Postit 3 */
.post-3 {
    background-color: #FCBC4E;
    width: 16em;
    min-height: 14em;
    position: relative;
    filter: drop-shadow(0.1px 01px 5px rgba(0,0,0,0.3));
    transform: rotate(7deg) translateX(-50%);
    top: 50px;
    left: 50%;
}
.post-3::before
{
    content: '';
    position: absolute;
    right: 2em;
    bottom: -2em;
    left: 0;
    border: 1em solid #FCBC4E;
    z-index: -1;
}
.post-3::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -2em;
    border-width: 2em 2em 0 0;
    border-style: solid;
    border-color: #FCBC4E transparent;
    filter: drop-shadow(-4px 5px 9px rgba(0,0,0,0.3));
}